/* RESTE CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-container {
    width: 640px;
    height: auto;
    margin: 200px auto 0;
    overflow: hidden;
}

.slider-container ul {
    list-style: none;
    display: flex;

    animation: movimiento_slider 16s;
}

@keyframes movimiento_slider {
    0% { transform: translateX(0%);}
    20% { transform: translateX(0%);}

    25% { transform: translateX(-100%);}
    40% { transform: translateX(-100%);}

    50% { transform: translateX(-200%);}
    70% { transform: translateX(-200%);}

    75% { transform: translateX(-300%);}
    100% { transform: translateX(-300%);}
}

